
{% extends "base.html" %} 
{% from "_error_messages.html" import field_error_messages%}
{% block title %}
Query
{% endblock %}
{% block styling %}
li {
    list-style:none;
}
ul{
    margin: 0;
}
.row{
    --bs-gutter-x: 0rem;
}
div.form-group>br{
    display:none
}
.btn.btn-primary{
  margin-bottom: 2rem;
}
.center{
  margin: 0 auto;
  display: block;
  text-align: center;
}

{% endblock %}
{% block content %}
<div class="row">
    <h1 class="col-lg-10 offset-lg-1 my-4">Query!</h1>
    <div class="col-lg-10 offset-lg-1">
        <form id = "myForm" method="POST" action="{{url_for('new')}}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{ form.content.label}}
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    {{ form.content(class="form-control", rows='10') }}
                  </div>
                </div>
              </div>
              {# <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    {{ form.upload.label }}
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    {{ form.upload(class="form-control") }}
                  </div>
                </div>
              </div> #}
            </div>
            {{field_error_messages(form.content)}}
          {#  {{field_error_messages(form.upload)}} #}
            <br>
            <div class="form-group col-lg-3 mb-3" >
              <a data-bs-toggle="modal" href="#Descriptions" role="button" style = "margin-bottom: 1rem !important; display: block;">
                <div style = "display: inline-block;">Question Distribution</div>
            </a>
            <div class="modal fade" id="Descriptions" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Question Type Descriptions</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <b>Multiple Choice:</b>
                        <br>Where was George Washington born?
                        <br>a) Memphis, Tennessee
                        <br>b) Westmoreland, Virgina
                        <br>c) Boston, Massachusetts
                        <br>d) Hartford, Connecticut
                        <hr>
                        <b>True/False:</b>
                        <br>Many countries participated militarily in the Vietnam War, including Australia and India.
                        <hr>
                        <b>Fill in the Blanks:</b>
                        <br>Newton's Law of _____ described the resistance of a physical object to acceleration.
                        <hr>
                        {# <b>Yes/No:</b>
                        <br>Was John Adams the first president of the United States?
                        <hr> #}
                       {# <b>Match Definitions:</b>
                      <table class="table table-borderless">    
                      <tbody>
                        <tr>
                          <td>natural language processing</td>
                          <td>a category in artificial intelligence that studies computer algorithms that improve automatically using data</td>
                        </tr>
                        <tr>
                          <td>python</td>
                          <td>subfield of artificial intelligence concerned with the interactions between computers and human language</td>
                        </tr>
                        <tr>
                          <td>machine learning</td>
                          <td>an interpreted high-level general-purpose programming language, with an emphasis on code readability</td>
                        </tr>
                      </tbody>
                    </table> #}
                    </div>
                  </div>
                </div>
              </div>
              
            
            
              <div class="input-group mb-3" id = "div0">
                <span class="input-group-text" id="basic-addon1">{{form.count0.label}}</span>
                {{form.count0(class="form-control")}}
              </div>
              {{field_error_messages(form.count0)}}
              <div class="input-group mb-3" id = "div1">
                <span class="input-group-text" id="basic-addon1">{{form.count1.label}}</span>
                {{form.count1(class="form-control")}}
              </div>
              {{field_error_messages(form.count1)}}
              <div class="input-group mb-3" id = "div2">
                <span class="input-group-text" id="basic-addon1">{{form.count2.label}}</span>
                {{form.count2(class="form-control")}}
              </div>
              {{field_error_messages(form.count2)}}
              {# <div class="input-group mb-3" id = "div3">
                <span class="input-group-text" id="basic-addon1">{{form.count3.label}}</span>
                {{form.count3(class="form-control")}}
              </div>
              {{field_error_messages(form.count3)}} #}
              {# <div class="input-group mb-3"  id = "div4">
                <span class="input-group-text" id="basic-addon1">{{form.count4.label}}</span>
                {{form.count4(class="form-control")}}
              </div> 
              {{field_error_messages(form.count4)}} #}     
            </div>
            {#<div class="form-group">
              {{ form.recaptcha }} 
            </div>
            {{field_error_messages(form.recaptcha)}} #}
            <section id = "section2">
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </symbol>
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </symbol>
              </svg>
              
              <div id = "loading" class="alert alert-primary d-flex align-items-center alert-dismissible" role="alert" style="display:none !important;">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                Our deep learning model may need a few minutes to process the input. Please do not leave the page.
              </div>
              </section>
            <hr>
            {{ form.submit(class="btn btn-primary") }}
        </form>
        <br>
    </div>
</div>
<script src="{{url_for('static', filename='checkbox.js')}}"></script>
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script> 
$(document).ready(function () {
    $("#myForm").submit(function () {
        $("#submit").attr("disabled", true);
        let button = document.getElementsByClassName('btn btn-primary')[0];
        button.value = "Processing"
        let alert = document.getElementById('loading');
        alert.style.display = "block";
        return true;  
        
    });
});
</script>
{% endblock %}